<div class="main-container">
    <div class="success-container">
        <div class="header-content">
            <img src="../../../assets/confirmacaoProf.png" alt="Ícone de Professor" class="professor-icon">
            <div class="divider"></div>
            <h2>Cadastro realizado com sucesso!</h2>
        </div>
        <div class="separator-bar"></div>
        <p style="font-size: 20px;">O seu cadastro foi concluído com êxito.</p>
        <p>Em breve, será alocado nas disciplinas referentes ao seu cadastro. <br/>Qualquer dúvida, entre em contato com o coordenador do curso escolhido.</p>
    </div>
</div>
