<div class="main-container">
    <div class="success-container">

      <div class="professor-container">
        <div class="image-container">
          <img src="../../../assets/confirmacaoProf.png" alt="Ícone de Professor" class="professor-icon">
        </div>
        <div class="divider"></div>
      </div>

      <div class="content-container">
        <div class="header-content">
          <h2>Cadastro realizado com sucesso!</h2>
        </div>
        
        <div class="separador"></div>
        <p class="paragrafo">O seu cadastro foi concluído com êxito.</p>
        <p class="paragrafo">Em breve, será alocado nas disciplinas referentes ao seu cadastro. <br/>Qualquer dúvida, entre em contato com o coordenador do curso escolhido.</p>
      </div>
    </div>
  </div>
  