<!-- CADASTRO DE USUÁRIOS -->
<div class="container mt-5" style="
    background-color: white;
    border-radius: 5px;
    border: 1px black;
    border-style: double;
  ">
  <h2 class="mb-4 pt-3">Cadastro de Usuários</h2>

  <form class="mb-4" [formGroup]="registroForm">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="name" id="name" placeholder="Ex. Matheus" formControlName="name" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" id="email" placeholder="Ex. matheus@gmail.com"
          formControlName="email" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="password" id="password" placeholder="Ex. Sua senha"
          formControlName="password" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="confirmPassword" id="confirmPassword" placeholder="Ex. Sua senha"
          formControlName="confirmPassword" />
      </mat-form-field>
    </div>

    <div>
      <button type="button" class="btn btn-success" [disabled]="registroForm.valid" (click)="criarUsuario()">
        Cadastrar
      </button>
      <button type="button" class="btn btn-primary" routerLink="/login" style="margin-left: 5px">
        Voltar
      </button>
    </div>
  </form>
</div>

<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">
      © 2023 Todos os direitos reservados - Gerenciamento de Professores
    </p>
  </div>
</div>
>