<div class="container mt-5">
  <div class="mb-3">
    <!-- Botão de Voltar -->
    <button class="btn btn-primary" (click)="voltar()">Voltar</button>
  </div>
  <h2>Cadastro de Professor</h2>

  <form (ngSubmit)="cadastrarProfessor()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
      />
    </div>

    <div class="mb-3">
      <label for="cursos" class="form-label">Cursos:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecione os cursos'"
        [data]="cursos"
        [(ngModel)]="cursosArray"
        [settings]="dropdownSettings"
        (onSelect)="onCursoSelect($event)"
        (onDeSelect)="onCursoDeSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="mb-3">
      <label for="disciplina" class="form-label">Disciplina:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecione as disciplinas'"
        [data]="disciplinas"
        [(ngModel)]="disciplinasArray"
        [settings]="dropdownSettings"
        (onSelect)="onDisciplinaSelect($event)"
        (onDeSelect)="onDisciplinaDeSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="mb-3">
      <label for="tipoContratacao" class="form-label"
        >Tipo de Contratação:</label
      >
      <select
        class="form-control"
        id="tipoContratacao"
        [(ngModel)]="tipoContratacao"
        name="tipoContratacao"
      >
        <option value="tempoIntegral">Tempo Integral</option>
        <option value="meioPeriodo">Meio Período</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="horarioDisponivel" class="form-label"
        >Horário Disponível:</label
      >
      <input
        type="number"
        class="form-control"
        id="horarioDisponivel"
        [(ngModel)]="horarioDisponivel"
        name="horarioDisponivel"
        placeholder="Ex: 10"
      />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
