<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/home"
      style="border-right: 1px solid #fff; padding-right: 10px"
      ><b>Sistema de Cadastro</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            ><b>Início</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="professor/cadastro">
            <strong class="text-white">Cadastro de Professor</strong>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <strong class="text-white">Login</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-5" style="background-color: white; border-radius: 5px; border: 1px black; border-style: double;">
  <h2 class="mb-4 pt-3">Cadastro de Professor</h2>

  <form (ngSubmit)="cadastrarProfessor()" class="mb-4">
    <div class="mb-3">
      <label for="nome" class="form-label"><b>Nome:</b></label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome" />
    </div>

    <div class="mb-3">
      <label for="cursos" class="form-label"><b>Curso:</b></label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecione os cursos'"
        [data]="cursos"
        [(ngModel)]="cursos"
        [settings]="dropdownSettings"
      ></ng-multiselect-dropdown>
    </div>

    <div class="mb-3">
      <label for="disciplina" class="form-label"><b>Disciplina:</b></label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecione as disciplinas'"
        [data]="disciplinas"
        [(ngModel)]="disciplinas"
        [settings]="dropdownSettings"
      ></ng-multiselect-dropdown>
    </div>

    <div class="mb-3">
      <label for="tipoContratacao" class="form-label"><b>Tipo de Contratação:</b></label>
      <select class="form-select" id="tipoContratacao" [(ngModel)]="tipoContratacao" name="tipoContratacao">
        
        <option value="tempoParcial">Parcial</option>
        <option value="tempoHorista">Horista</option>
        <option value="tempoIntegral">Integral</option>

      </select>
    </div>

    <div class="mb-3">
      <label for="horarioDisponivel" class="form-label"><b>Horário Disponível:</b></label>
      <input
        type="number"
        class="form-control"
        id="horarioDisponivel"
        [(ngModel)]="horarioDisponivel"
        name="horarioDisponivel"
        placeholder="Exemplo: 10"
      />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mb-3">
      {{ errorMessage }}
    </div>

    <div style="margin-left: 1127px;">
      <button type="submit" class="btn btn-success">Cadastrar</button>
      <button type="button" class="btn btn-primary" routerLink="/home" style="margin-left: 5px;">Voltar</button>
    </div>
  </form>
</div>


<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">
      © 2023 Todos os direitos reservados - Gerenciamento de Professores
    </p>
  </div>
</div>
>