<div mat-dialog-title>
  <h1>Curso - Formulário</h1>
</div>
<form [formGroup]="cursoForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome do Curso</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Redes de Computadores"
          formControlName="nome"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sigla do Curso</mat-label>
        <input matInput placeholder="Ex. RC" formControlName="sigla" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Trimestre</mat-label>
        <mat-select formControlName="trimestre">
          <mat-option *ngFor="let trimestre of trimestres" [value]="trimestre"
            >{{ trimestre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Carga Horária</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 2"
          formControlName="carga"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Coordenador</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Redes de Computadores"
          formControlName="coordenador"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Disciplinas</mat-label>
        <mat-select formControlName="curs">
          <mat-option *ngFor="let val of disciplinas" [value]="val"
            >{{ val.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Atualizar" : "Cadastrar" }}
    </button>

    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancelar
    </button>
  </div>
</form>
