<mat-toolbar color="primary">
  <span>Gerenciamento de Professores</span>
  <span class="example-spacer-button"></span>
  <button mat-button routerLink="/home">
    Início
  </button>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="abrirAddEditProfForm()">
    + Professor
  </button>
  <button
    mat-raised-button
    (click)="abrirAddEditCursForm()"
    style="margin-left: 5px"
  >
    + Curso
  </button>
  <button
    mat-raised-button
    (click)="abrirAddEditDiscForm()"
    style="margin-left: 5px"
  >
    + Disciplina
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="aplicarFiltro($event)"
      placeholder="Ex. ADS"
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="primeiroNome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
        <td mat-cell *matCellDef="let row">{{ row.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
        <td mat-cell *matCellDef="let row">{{ row.curs }}</td>
      </ng-container>

      <ng-container matColumnDef="disciplina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Disciplina</th>
        <td mat-cell *matCellDef="let row">{{ row.disc }}</td>
      </ng-container>

      <ng-container matColumnDef="contr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Tipo de Contratação
        </th>
        <td mat-cell *matCellDef="let row">{{ row.contratacao }}</td>
      </ng-container>

      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Horário Disponível
        </th>
        <td mat-cell *matCellDef="let row">{{ row.hora }} horas</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="abrirEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deletarProfessor(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Nenhum professor com nome: "{{ input.value }}" foi encontrado.
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>

<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">
      © 2023 Todos os direitos reservados - Gerenciamento de Professores
    </p>
  </div>
</div>
