<!-- Navbar -->
<app-navbar></app-navbar>

<div
  class="container mt-5"
  style="
    background-color: white;
    border-radius: 5px;
    border: 1px black;
    border-style: double;
  "
>
  <h2 class="mb-4 pt-3">Cadastro de Professor</h2>

  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()" class="mb-4">
    <div class="mb-3">
      <label for="nome" class="form-label"><b>Nome:</b></label>
      <input
        type="text"
        class="form-control"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
        formControlName="nome"
      />
    </div>

    <div class="mb-3">
      <label for="curso" class="form-label"><b>Curso: </b></label>
      <input
        type="text"
        class="form-control"
        id="curso"
        name="curso"
        formControlName="curso"
      />
    </div>

    <div class="mb-3">
      <label for="disciplina" class="form-label"><b>Disciplina: </b></label>
      <input
        type="text"
        class="form-control"
        id="disciplina"
        name="disciplina"
        formControlName="disciplina"
      />
    </div>

    <div class="mb-3">
      <label for="tipoContratacao" class="form-label"
        ><b>Tipo de Contratação:</b></label
      >

      <select
        formControlName="tipoContratacao"
        class="form-select"
        id="tipoContratacao"
        [(ngModel)]="tipoContratacao"
        name="tipoContratacao"
        formControlName="tipoContratacao"
      >
        <option value="Parcial">Parcial</option>
        <option value="orista">Horista</option>
        <option value="Integral">Integral</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="horarioDisponivel" class="form-label"
        ><b>Horário Disponível:</b></label
      >
      <input
        type="number"
        class="form-control"
        id="horarioDisponivel"
        [(ngModel)]="horarioDisponivel"
        name="horarioDisponivel"
        placeholder="Exemplo: 10"
        formControlName="horarioDisponivel"
      />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mb-3">
      {{ errorMessage }}
    </div>

    <div style="margin-left: 1127px">
      <button type="submit" class="btn btn-success">Cadastrar</button>
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/home"
        style="margin-left: 5px"
      >
        Voltar
      </button>
    </div>
  </form>
</div>
<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">
      © 2023 Todos os direitos reservados - Gerenciamento de Professores
    </p>
  </div>
</div>
