<!-- CADASTRO DE USUÁRIOS -->
<div class="container mt-5" style="background-color: white; border-radius: 5px; border: 1px black; border-style: double;">
    <h2 class="mb-4 pt-3">Cadastro de Usuários</h2>
  
    <form class="mb-4" [formGroup]="registroForm" (ngSubmit)="criarUsuario()">
      <div class="mb-3">
        <label for="nome" class="form-label"><b>Nome:</b></label>
        <input formControlName="nome" placeholder="Matheus Correia" type="text" class="form-control" id="nome" name="nome" />
      </div>

      <div class="mb-3">
        <label for="cpf" class="form-label"><b>CPF:</b></label>
        <input formControlName="cpf" placeholder="12345678998" type="cpf" class="form-control" id="cpf" name="cpf" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label"><b>Email:</b></label>
        <input formControlName="email" placeholder="seuEmail@gmail.com" type="email" class="form-control" id="email" name="email" />
      </div>
  
      <div class="mb-3">
        <label for="senha" class="form-label"><b>Senha:</b></label>
        <input formControlName="senha" placeholder="suaSenha" type="password" class="form-control" id="senha" name="senha" />
      </div>
  
      <div style="margin-left: 1127px;">
        <button type="submit" class="btn btn-success" [disabled]="!registroForm.valid">Cadastrar</button>
        <button type="button" class="btn btn-primary" routerLink="/login" style="margin-left: 5px;">Voltar</button>
      </div>
    </form>
  </div>
  
  
  <!-- Footer -->
  <div class="row fixed-bottom">
    <div class="container-fluid text-center text-light bg-dark p-3">
      <p class="mb-0">
        © 2023 Todos os direitos reservados - Gerenciamento de Professores
      </p>
    </div>
  </div>
  >