<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/home"
      style="border-right: 1px solid #fff; padding-right: 10px"
      ><b>Sistema de Cadastro</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            ><b>Início</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/professor/cadastro">
            <strong class="text-white">Cadastro de Professor</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">
            <strong class="text-white">Admin</strong>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <strong class="text-white">Logout</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container Principal -->
<div class="container mt-4">
  <div class="p-4 card text-center">
    <h3><b>Seja bem-vindo, usuário!</b></h3>
  </div>
</div>

<div class="container mt-4">
  <div class="p-4 card shadow">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">
      © 2023 Todos os direitos reservados - Gerenciamento de Professores
    </p>
  </div>
</div>
