<mat-toolbar color="primary">
    <span>Gerenciamento de Professores</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="logOut()">Logout</button>
  </mat-toolbar>
  
  <div class="main-body">
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="aplicarFiltro($event)"
        placeholder="Ex. ADS"
        #input
      />
    </mat-form-field>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="disciplina">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Disciplina</th>
          <td mat-cell *matCellDef="let row">{{ row.disciplinas.disciplina_nome }}</td>
        </ng-container>

        <ng-container matColumnDef="nome_professor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Professor</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
          <td mat-cell *matCellDef="let row">{{ row.disciplinas.cursos.curso_nome }}</td>
        </ng-container>

        <ng-container matColumnDef="trimestre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trimestre</th>
          <td mat-cell *matCellDef="let row">{{ row.disciplinas.cursos.trimestre }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nenhum trimestre com numeração: "{{ input.value }}" foi encontrado.
          </td>
        </tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="row fixed-bottom">
    <div class="container-fluid text-center text-light bg-dark p-3">
      <p class="mb-0">
        © 2023 Todos os direitos reservados - Gerenciamento de Professores
      </p>
    </div>
  </div>
  