<div class="main-container p-4 justify-content-center">
  <h2 class="mat-display-2">Cadastro de Disciplina</h2>

  <form [formGroup]="disciplinaForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome da Disciplina</mat-label>
        <input
          matInput
          placeholder="Ex. Matemática"
          formControlName="disciplinaNome"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDisciplina">
          <mat-option *ngFor="let disciplina of filterDisciplinas(disciplinaForm.get('disciplinaNome')?.value)"
            [value]="disciplina"
          >
            {{ disciplina.disciplinaNome }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Carga Horária</mat-label>
        <input
          matInput
          placeholder="Ex. 2"
          type="number"
          formControlName="disciplinaCarga"
          step="2"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Trimestre</mat-label>
        <mat-select formControlName="trimestre">
          <mat-option value="PRIMEIRO_TRIMESTRE">Primeiro Trimestre</mat-option>
          <mat-option value="SEGUNDO_TRIMESTRE">Segundo Trimestre</mat-option>
          <mat-option value="TERCEIRO_TRIMESTRE">Terceiro Trimestre</mat-option>
          <mat-option value="QUARTO_TRIMESTRE">Quarto Trimestre</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">
        Cadastrar Disciplina
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()">Fechar</button>
    </div>
  </form>
</div>
