.main-container {
  background-color: rgba(0, 0, 0);
  background-image: url('../../../assets/fundo_registroProf.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

}

.container {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  border-left: 5px solid #62002a;
  border-right: 5px solid #00293f;
  box-shadow: 0 10px 10px black;
  max-width: 600px;
  width: 80%;
}

.professor-icon {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  filter: brightness(0) invert(1);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.divider {
  height: 100px;
  width: 2px;
  background-color: white;
  margin: 0 30px;
}

.form-header h2 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 32px;
}

.separator-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-form-field {
  color: black;
  width: 100%;
  margin-bottom: 15px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.mat-raised-button {
  min-width: 120px;
  background-color: #2196f3;
  color: #ffffff;
  border: 2px solid #1976d2;
  transition: background-color 0.3s, color 0.3s;
}

.mat-raised-button:hover {
  background-color: #1976d2;
}

.mat-raised-button:disabled {
  background-color: #b0bec5;
  color: #ffffff;
  cursor: not-allowed;
}

.info-message {
  color: #757575;
  margin-top: 8px;
}
