<div mat-dialog-title>
  <h1>Disciplina - Formulário</h1>
</div>
<form [formGroup]="disciplinaForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome da Disciplina</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Lógica de Programação"
          formControlName="nome"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sigla da Disciplina</mat-label>
        <input matInput placeholder="Ex. LP" formControlName="sigla" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Carga Horária</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 2"
          formControlName="carga"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="curs">
          <mat-option *ngFor="let val of cursos" [value]="val"
            >{{ val.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Professor Responsável</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Matheus"
          formControlName="professor"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Atualizar" : "Cadastrar" }}
    </button>

    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancelar
    </button>
  </div>
</form>
