@import "~@fortawesome/fontawesome-free/css/all.css";

.background-image {
  background-image: url("src/assets/518516-abstract-wallpaper-design-graphic-light-generated.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container {
  height: calc(100vh - 56px); /* Subtrai a altura do cabeçalho */
  overflow-y: auto; /* Adiciona uma barra de rolagem caso o conteúdo seja maior que a altura da janela */
  justify-content: center;
  align-items: center;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-spacer-button {
  margin-left: 25px;
}

.icone {
  border: 4px solid black;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 2vw;
}
.icone i {
  font-size: 120px;
  color: #1282a2;
  margin-left: 17px;
  margin-top: 10px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  height: 50px;
  width: 500px;
  border: 1px solid #ccc;
  margin-top: 1vw;
}

.text {
  font-size: 18px;
}

.custom-button-1 {
  border: 3px solid #000000;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 35px;
}
.custom-button-2 {
  border: 3px solid #000000;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 35px;
}
.custom-button-3 {
  border: 3px solid #000000;
  border-radius: 5px;
  margin-top: 12px;
  margin-left: 8px;
  font-size: 10px;
}
.custom-button-1:hover,
.custom-button-2:hover,
.custom-button-3:hover {
  background-color: rgb(140, 205, 255);
}
