<!-- Formulário de Acesso -->
<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="col-md-6">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white">
        <h3 class="text-center">Sistema de Professores</h3>
      </div>

      <div class="card-body">
        <form [formGroup]="formLogin">
          <div class="mb-3">
            <label class="form-label"><b>Usuário:</b></label>
            <input type="text" class="form-control" placeholder="Digite seu usuário" formControlName="usuario">
            <div class="form-text text-danger" *ngIf="validacaoCaracteres('usuario')">O usuário deve conter pelo menos 6 caracteres.</div>
          </div>
          <div class="mb-3">
            <label class="form-label"><b>Senha:</b></label>
            <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha">
            <div class="form-text text-danger" *ngIf="validacaoCaracteres('senha')">A senha deve conter pelo menos 6 caracteres.</div>

          </div>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" [disabled]="!formLogin.valid">Entrar</button>
            <a href="home"><button type="button" class="btn btn-primary"  style="margin-left: 5px;">Voltar</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="row fixed-bottom">
  <div class="container-fluid text-center text-light bg-dark p-3">
    <p class="mb-0">© 2023 Todos os direitos reservados - Gerenciamento de Professores</p>
  </div>
</div>