body {
    background: whitesmoke;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar {
    background-color: white;
    color: black; /* Change text color if needed */
  }